<table class="table table-striped">
    <thead>
        <tr>
            <th>N°</th>
            <th>Actividad</th>
            <th>Rol</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of childMessage;" >
            <td> {{item.numero}}</td>
            <td> {{item.actividad}} </td>
            <td> {{item.rol }}</td>
            <td>
                <p [innerHTML]="item.descripcion" >
                </p>
            </td>
          </tr>
    </tbody>
</table>

